@import url(http://fonts.googleapis.com/css?family=Dosis:300,400,700);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300);
/* Cores */
/* Tipografia */
/* MIXINS */
/* Resets */
body {
  background: #ffffff;
  font-family: "Dosis", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Slab", serif;
  line-height: 1;
}
a,
a:visited,
a:hover {
  text-decoration: none;
  color: inherit;
}
/* Containers principais */
.topo {
  position: relative;
  z-index: 1;
  background: #ff9955;
  min-height: 230px;
}
.topo .divisor {
  height: 100px;
}
.topo .container {
  background: #ff9955 url(img/predios.png) no-repeat right 20px;
  min-height: 230px;
  padding-bottom: 20px;
}
.topo .logo {
  padding-bottom: 20px;
}
.topo .cadastro span {
  font-size: 24px;
  color: #ffffff;
}
.topo .cadastro form {
  position: relative;
}
.topo .cadastro form input#email {
  width: 100%;
  font-size: 20px;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border: 0;
  padding: 6px 130px 6px 14px;
  height: 45px;
}
.topo .cadastro form input#send {
  height: 45px;
  padding: 6px 20px;
  font-size: 20px;
  color: #ff9955;
  background: none;
  border: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.topo .cadastro form input#send:hover {
  color: #ffd6bb;
}
.topo .cadastro form input:focus {
  border-size: 4px !important;
  outline: 0;
  -webkit-box-shadow: 0 0 20px rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.9);
}
.desc {
  padding: 10px;
}
.desc h2 {
  position: relative;
  padding: 6px 0 !important;
  margin: 0 !important;
  z-index: 9;
}
.destaque {
  position: relative;
  min-height: 400px;
  width: 100%;
  background: url(img/bg/7.jpg);
  background-position: 50% 0;
  background-repeat: repeat;
  background-size: 100%;
  background-attachment: fixed;
}
.destaque .seta {
  width: 40px;
  height: 40px;
  background: #fff;
  margin-top: -20px;
  margin-left: 40px;
  z-index: 2;
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Chrome, Safari, Opera */
  transform: rotate(45deg);
}
.destaque .container {
  padding: 0 !important;
}
.destaque h2 {
  margin-top: 120px;
  position: relative;
  color: #ffffff;
  text-shadow: 1px 1px 0.5px #000000;
}
.destaque p {
  font-size: 20px;
  color: #ffffff;
  text-shadow: 1px 1px 0.5px #000000;
}
.hub {
  position: relative;
  min-height: 300px;
  padding: 20px 0;
  background: url(img/bg/6.jpg);
  background-position: 50% 0;
  background-repeat: repeat;
  background-size: 100%;
  background-attachment: fixed;
}
.hub .faixa-trans {
  padding: 0;
  margin-top: -20px;
  position: absolute;
  width: 100%;
  min-height: 100%;
  background: #f2f2f2;
  opacity: 0.92;
  -moz-opacity: 0.92;
  filter: alpha(opacity=92);
}
.rodape {
  background: #ff9955;
  min-height: 50px;
  padding: 10px 0;
}
/* Artigo */
article {
  min-height: 40px !important;
  margin-bottom: 20px;
}
article a.artigo {
  display: block;
  background: #ffffff;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  padding-bottom: 10px;
  border-color: #ffffff;
}
article a.artigo:hover {
  margin: -2px;
  border: 2px solid #ff9955;
  -webkit-transition: border-color 300ms ease 0;
  -moz-transition: border-color 300ms ease 0;
  -o-transition: border-color 300ms ease 0;
  transition: border-color 300ms ease 0;
}
article a.artigo img.img-artigo {
  position: relative;
  width: 100%;
  margin: 0 !important;
  padding: 0 !important;
  z-index: 1;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
}
article a.artigo .linha {
  position: relative;
  width: 100%;
  height: 6px;
  margin-top: -6px;
  background: #ff9955;
  z-index: 2;
}
article a.artigo h3 {
  margin-top: 8px;
  font-size: 18px;
  line-height: 1.3;
  padding-left: 15px;
  padding-right: 15px;
}
article a.artigo p {
  padding-left: 15px;
  padding-right: 15px;
  color: #999999;
}
article a.artigo .creditos {
  padding-left: 15px;
  padding-right: 15px;
  border-top: 1px solid #ebebeb;
  padding-top: 10px;
  padding-bottom: 40px;
  color: #999999;
  font-size: 14px;
  height: 40px;
  position: relative;
}
article a.artigo .creditos .inicial-author {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  background: #ffb888;
  font-size: 22px;
  text-align: center;
  color: #fff;
  float: left;
  margin-right: 10px;
  line-height: 40px;
}
article a.artigo .creditos .letter-a {
  background: #87cefa;
}
article a.artigo .creditos .letter-b {
  background: #40e0d0;
}
article a.artigo .creditos .letter-c {
  background: #20b2aa;
}
article a.artigo .creditos .letter-d {
  background: #6c7b8b;
}
article a.artigo .creditos .letter-e {
  background: #8b8989;
}
article a.artigo .creditos .letter-f {
  background: #cd3333;
}
article a.artigo .creditos .letter-g {
  background: #ee8262;
}
article a.artigo .creditos .letter-h {
  background: #ee7ae9;
}
article a.artigo .creditos .letter-i {
  background: #a2cd5a;
}
article a.artigo .creditos .letter-j {
  background: #eedc82;
}
article a.artigo .creditos .letter-k {
  background: #eeaeee;
}
article a.artigo .creditos .letter-l {
  background: #eeb4b4;
}
article a.artigo .creditos .letter-m {
  background: #9fb6cd;
}
article a.artigo .creditos .letter-n {
  background: #c1cdcd;
}
article a.artigo .creditos .letter-o {
  background: #cd853f;
}
article a.artigo .creditos .letter-p {
  background: #1e90ff;
}
article a.artigo .creditos .letter-q {
  background: #cd6090;
}
article a.artigo .creditos .letter-r {
  background: #ff4040;
}
article a.artigo .creditos .letter-s {
  background: #ff34b3;
}
article a.artigo .creditos .letter-t {
  background: #cdc9c9;
}
article a.artigo .creditos .letter-u {
  background: #daa520;
}
article a.artigo .creditos .letter-v {
  background: #8b4513;
}
article a.artigo .creditos .letter-w {
  background: #00fa9a;
}
article a.artigo .creditos .letter-x {
  background: #cdc9a5;
}
article a.artigo .creditos .letter-y {
  background: #1874cd;
}
article a.artigo .creditos .letter-z {
  background: #7a67ee;
}
article a.artigo .creditos span {
  margin-top: 8px;
  position: relative;
  width: auto;
  float: left;
  font-size: 16px;
}
